@import './reset.css';
@import './fonts.css';
@import './config';

// some further resets
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: $blackColor;
  * {
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: $mainColor;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

a {
  text-decoration: none;
  color: $mainColor;
  &:hover, &:active {
    color: $complementaryColor;
  }
}

ol, ul {
  li {
    list-style-type: none;
  }
}

button {
  padding: 1rem;
  color: $whiteColor;
  background-color: $buttonsBackground;
  border: .1rem solid darken($buttonsBackground, 5%);
  cursor: pointer;
  box-shadow: 0 0.1rem rgba($blackColor, .5);
  &:active {
    color: rgba($whiteColor, 0.8);
  }
  &:disabled {
    opacity: .65;
  }
}

fieldset {
  border: none;
}

input[type='text'], input[type='password'], input[type='email'], select {
  padding: 0 .5rem;
  border: .1rem solid darken($greyColor, 30%);
  background-color: $greyColor;
  color: $blackColor;
  line-height: 2.2em;
  box-sizing: border-box;
  &::placeholder {
    color: lighten($blackColor, 30%);
  }
}

select {
  padding: .9rem 0.5rem;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

// app style
.address-book-container {
  padding: 3rem;
  &.no-entries {
    .no-contacts {
      text-align: center;
    }
    .add-new-contact {
      float: none;
      font-size: 3.6rem;
    }
  }
}

.add-new-contact-wrapper {
  width: 100%;
  text-align: center;
}

.no-entries .add-contact-form {
  margin-top: 4rem;
}

.add-new-contact {
  float: right;
  font-size: 2.4rem;
}

.sorting-wrapper {
  margin-top: 4rem;
  clear: right;
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.sorting-options {
  display: flex;
  margin-left: 1rem;
  .sorting-item {
    margin-left: .75rem;
  }
}

.contact-list {
  margin: 2rem 0 8rem;
  .contact-item {
    &:last-child .contact-anchor {
      border-bottom: none;
    }
  }
  .contact-anchor {
    display: block;
    padding: 1.8rem 2rem;
    border-bottom: .1rem solid darken($greyColor, 3%);
    &.selected-contact {
      color: $buttonsBackground;
      background-color: $greyColor;
    }
  }
}

.header-title {
  margin-bottom: 8rem;
}

.header-subtitle {
  padding: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
  border-bottom: .3rem solid $greyColor;
  &.edit-contact {
    margin-left: 0;
  }
}

.add-contact-fieldset {
  padding: 2rem;
  .contact-details {
    padding: 0;
  }
}

.no-entries .add-contact-fieldset {
  font-size: 150%;
}

.contact-details-item {
  margin-bottom: 2rem;
  input, select {
    min-width: 50%;
  }
}

.no-entries {
  input, select {
    width: 100%;
  }
}

.contact-label {
  display: block;
  color: $mainColor;
}

.error-messages {
  margin-bottom: 2rem;
  .error-item {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    .error-message {
      display: block;
      color: $buttonsBackground;
      font-weight: 600;
    }
  }
}

.go-back {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.edit-contact, .save-contact  {
  margin-left: 2rem;
}

.contact-actions {
  display: inline-flex;
  margin-left: .5rem;
  button {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.contact-details {
  padding: 2rem 2rem 0;
}

.edit-form {
  margin-bottom: 4rem;
  .error-messages {
    margin-left: 2rem;
  }
}

.sorted-by-criteria {
  background: yellow;
}